<div class="container">
    <header>
        <a routerLink="/" class="logo">{{appTitle}}</a>
        <nav>
            <ul>
                <li><a href="home">Store</a></li>
                <li><a href="nav">Nav</a></li>
            </ul>
        </nav>
    </header>
</div>
<br>
<div>
    <h1>Existing Stores</h1>
    <button style="margin-left: 1300px" (click)="showDialog()">Add Store</button>
    
     <p-table [value]="dataSource" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
            <tr>
                    <th><b>Store Name</b></th>
                    <th><b>Street Name</b></th>
                        <th><b>City</b></th>
                            <th><b>State</b></th>
                                <th><b>Zip Code</b></th>
                                    <th><b>Email</b></th>
                                        <th><b>Branch</b></th>
                                            <th><b>Hours</b></th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
            <tr>
                <td>{{ product.storeName }}</td>
                <td>{{ product.streetName }}</td>
                <td>{{ product.city }}</td>
                <td>{{ product.state }}</td>
                <td>{{ product.zipCode }}</td>
                <td>{{ product.email }}</td>
                <td>{{ product.branch }}</td>
                <td>{{ product.storeHours }}</td>
                <td><button (click)="deleteStore(product.storeId)">Delete</button></td>
            </tr>
        </ng-template>
    </p-table>
 
</div>
<div class="card flex justify-center">
        <p-dialog header="Register Store" [modal]="true" [(visible)]="visible" [style]="{ width: '700px', height: '400px' }">
                <form [formGroup]="applyForm" (submit)="saveStoreDetails()">
                        <label for="store-name">Store *: </label>
                        <input type="text" placeholder="enter store name" formControlName="storeName"
                            style="margin: 10px 10px;" ng-required="true">
                            <div *ngIf="applyForm.controls.storeName.invalid && formSubmitted" style="color:red">
                                Please enter a store name
                              </div>
                    
                        <label for="street-name">Street *:</label> 
                        <input type="text" placeholder="enter store address" formControlName="streetName"
                            style="margin: 10px 10px">
                            <div *ngIf="applyForm.controls.streetName.invalid && formSubmitted" style="color:red">
                                Please enter a street name
                              </div>
                    <br>
                    
                        <label for="city"> City *:</label> 
                        <input type="text" placeholder="enter city" formControlName="city"
                            style="margin: 10px 25px">
                            <div *ngIf="applyForm.controls.city.invalid && formSubmitted" style="color:red">
                                Please enter a city
                              </div>
                            
                    <label for="state"> State *:</label>
                         <input type="text" placeholder="enter state" formControlName="state"
                            style="margin: 10px 10px">
                            <div *ngIf="applyForm.controls.state.invalid && formSubmitted" style="color:red">
                                Please enter a state
                              </div>
                    <br>
                    
                        <label for="zipCode"> Zipcode *:</label> 
                        <input type="text" placeholder="enter zipcode " formControlName="zipcode"
                            style="margin: 10px 1px">
                            <div *ngIf="applyForm.controls.zipcode.invalid && formSubmitted" style="color:red">
                                Please enter a zip code
                              </div>
                
                            <label for="email"> Email:</label>
                         <input type="text" placeholder="enter email address" formControlName="email"
                            style="margin: 10px 10px">
                            <br> 
                        <label for="branch"> Branch:</label>
                         <input type="text" placeholder="enter branch " formControlName="branch"
                            style="margin: 10px 10px">   
                
                        <label for="storeHours">Store hours:</label>
                        <input type="=text" placeholder="enter store hours" formControlName="storeHours"
                            style="margin: 10px 10px"><br>
                            
                    <br><br>
                    <button type="submit" class="primary">Save</button>
                    
            <!--<div class="flex justify-end gap-2">
                <p-button label="Cancel" severity="secondary" (click)="visible = false" />
                <p-button label="Save" (click)="visible = false" />
            </div>-->
        </form>
        </p-dialog>
    </div> 