header {
    background: #7700FF;

    .logo {
        font-weight: bold;
    }

    nav {
        justify-self: right;
    
        ul {
            list-style-type: none;
            margin: 0; padding: 0;

            li {
                float: left;

                a {
                    padding: 1.5em;
                    text-transform: uppercase;
                    font-size: .8em;

                    &:hover {
                        background: #8E2BFF;
                    }
                }
            }
        }
    }
}
tr{
    font-size: 14px;
    width: 50%
}
label{
    color: blueviolet;
    margin: 10px 10px;
}
button{
    margin-left: 155px;
    margin-top: 0px;
    color: greenyellow;
    background-color: darkgoldenrod;
    border-right-width: 5px;
}
h1{
    color: yellowgreen;
}