<div>
<table>
    <h1>Register a store here</h1>
    <tr>
        Store Name: <input type="text" placeholder="enter store name" ngModel="storeName">
    </tr><br>
    <tr>
        Address: <input type="text" placeholder="enter store address" ngModel="storeAddress">
    </tr><br>
    <tr>
        Phone: <input type="text" placeholder="enter phone number" ngModel="storePhone">
    </tr><br>
    <tr>
        Email: <input type="text" placeholder="enter email address" ngModel="storeEmail">
    </tr><br><br><br>
    <button value="Submit" (click)="saveStoreDetails()">Save</button>

</table>
</div>